<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd
        http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
        http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd">

<!-- 
	<context:property-placeholder location="classpath:jdbc.properties" />
	 -->
	<!-- C3P0数据源 -->
	<bean id="dataSource"
		class="com.mchange.v2.c3p0.ComboPooledDataSource">
		<property name="driverClass" value="com.mysql.jdbc.Driver"></property>
		<property name="jdbcUrl" value="jdbc:mysql:///day38_ssh"></property>
		<property name="user" value="root"></property>
		<property name="password" value="root"></property>
	</bean>

	<!-- SessionFactory配置 -->
	<bean id="sessionFactory"
		class="org.springframework.orm.hibernate5.LocalSessionFactoryBean">
		<property name="dataSource" ref="dataSource"></property>
		<property name="configLocations" value="classpath:hibernate.cfg.xml"></property>
	</bean>

	<!-- 事务管理器 -->
	<bean id="transactionManager"
		class="org.springframework.orm.hibernate5.HibernateTransactionManager">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>

	<!-- CustmoerDao -->
	<bean id="customerDao" class="com.test.dao.CustomerDaoImpl" >
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>
	
	<!-- Hibernate简化操作的模板 -->
	<!-- <bean id="hibernateTemplate" class="org.springframework.orm.hibernate5.HibernateTemplate"> 
		<property name="sessionFactory" ref="sessionFactory"></property> </bean> -->
	<!-- 事务通知 <tx:advice id="txAdvice" transaction-manager="transactionManager"> 
		<tx:attributes> <tx:method name="save*" propagation="REQUIRED"/> <tx:method 
		name="update*" propagation="REQUIRED"/> <tx:method name="delete*" propagation="REQUIRED"/> 
		<tx:method name="find*" read-only="true"/> <tx:method name="*" propagation="REQUIRED"/> 
		</tx:attributes> </tx:advice> <aop:config> <aop:pointcut expression="execution(* 
		cn.itcast.crm.service.impl.*.*(..))" id="myPointCut"/> <aop:advisor advice-ref="txAdvice" 
		pointcut-ref="myPointCut" /> </aop:config> 导入其它配置文件 <import resource="classpath:spring/applicationContext-dao.xml"/> 
		<import resource="classpath:spring/applicationContext-service.xml"/> <import 
		resource="classpath:spring/applicationContext-action.xml"/> -->
</beans>